[build]
  command = "npm install -g tsx && npm install --include=dev && npm run build"
  publish = "dist"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm run dev"
  targetPort = 5000
  publish = "dist"